table{
    width: 100%;
}

table, td, th{ /* td table head, th table head*/
    border: 1px solid black;
    /*border-collapse: collapse;*/
    padding: 5px;
    border-spacing: 5px;
}

caption{
    color:#e66946;
    font-family: 'Trocchi';
    font-size: 30px;
    line-height: 30px;
}

th{
    color: #f1faee;
    background-color: #1d3557;
}

/*Esta es una funcion para seleccionar renglones, even son pares odd es impar*/
tr:nth-child(even){
    background-color: #f1faee;
}

tr:nth-child(odd){
    background-color: #a8dadc;

}
/*
td{
    text-align: center;
}

th{
    text-align: left;
}
*/