/*Esto es un comentario en una hoja de estilos*/
/*hay que entender la jerarquia de donde se definen las caracteristicas*/


/* TIPOS DE SELECTORES MAS COMUNES

Universal Selectors
* {
  color: purple;
}

Type Selector, cuando se busca por tipo (ojo afecta a todos los que sean de este tipo)
div {
  color: white;
}

Class selectors,
<!-- index.html -->
<div class="alert-text">
  Please agree to our terms of service.
</div>

<!--styles.css-->
.alert-text {
    color: red;
  }

IDSelectors NO UTILIZARLOS TAN SEGUIDOS, SOLO CUANDO SEA IMPRESINDIBLE, OJO LOS IDS NO SE PUEDEN REPETIR EN UNA PAGINA
<!-- index.html -->
<div id="title">My Awesome 90's Page</div>
<!--styles.css-->
#title {
    background-color: red;
  }

GROOPING SELECTORS
Cuando se agrupa es para que los atributos se apliquen a ambas clases y luego cada clase tiene
sus propios atributos
.read,
.unread {
  color: white;
  background-color: black;
}

.read {
  several unique declarations
}

.unread {
  several unique declarations
}

CHAINING SELECTORS
Cuando se encadenan es para que se aplique el mismo atributo a varias clases
.subsection.header {
  color: red;
}

.subsection#preview {
  color: blue;
}

DESCENDANT COMBINATOR
La clase que se aplica a un padre pasa a los hijos
En este ejemplo gana el color beige en el p ya que es por especifidad (ir a CSS in deep for more info)
*/

h1{
    color:rgb(7, 139, 9);
    
}

p{
    color:brown;
    background-color:beige;
}

.subsection {
  color: red;
}
