/*Esto es un comentario en una hoja de estilos*/
/*hay que entender la jerarquia de donde se definen las caracteristicas*/


h1{
    color:rgb(7, 139, 9);
    
}
p{
    color:brown;
    background-color:beige;
}